body {
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    opacity: 95%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}

header, footer {
    padding: 1%;
    margin: auto;
    display: block;
}

span {
    color: whitesmoke;
    display: block;
    text-align: center;
}

nav {
    padding: 1.5rem;
    width: auto;
    height: auto;
    border-radius: 2px;
    border-style: hidden;
    background-color: black;
    position: fixed;
    top: 20%;
    display: block;
    text-align: center;
}

table {
    padding: 1%;
    opacity: 60%;
    background-color: whitesmoke;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    border-width: thick;
    margin: auto;
    width: 50%;
}

td {
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}

td, tr {
    height: 50px; 
    width: 50px;
    text-align: center; 
    vertical-align: middle;
}

td, th {
    border: thin solid black;
    border-radius: 2px;
}

a {
    padding: 12px;
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    border: thin transparent black;
    border-radius: 2px;
    font-style: oblique;
    font-weight: bold;
    font-size: 1rem;
    display: block;
    width: 200px;
    text-align: center;
}

a:hover {
    color: dodgerblue;
}

.home-heading {
    color: whitesmoke;
    font-style: oblique;
    font-weight: bolder;
    font-size: 2.5rem;
    display: block;
    text-align: center;
}

.main-heading {
    color: whitesmoke;
    font-style: oblique;
    font-weight: bolder;
    font-size: 2.5rem;
    padding: 50px;
    display: block;
    text-align: center;
}

.table-main-heading {
    font-size: 2rem;
    font-weight: bolder;
    font-style: oblique;
    border: thin transparent;
}

.box-heading {
    color: black;
    font-style: oblique;
    font-weight: bold;
    font-size: 2rem;
}

.box-text {
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
}

.box-img {
    height: 450px;
    width: 100%;
    display: block;
    border: transparent;
    border-radius: 15px;
}

.copy-heading {
    color: whitesmoke;
    font-style: italic;
    font-weight: lighter;
    font-size: 1rem;
    display: block;
    text-align: center;
}

.box {
    padding: 1%;
    height: 100%;
    margin: 0%;
    display: inline-block;
    text-align: center;
    opacity: 60%;
    background-color: whitesmoke;
    border-top: thin solid black;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    border-radius: 15px;
    border-width: thin;
}

.col-2 {
    width: 47.8%;
}

.col-3 {
    width: 31.1%;
}

.col-4 {
    width: 22.7%;
}

.row {
    width: 100%;
}

@media only screen and (max-width: 1460px) {
    .box {
        background-color: black;
    }

    .box-heading, .box-text {
        color: whitesmoke;
    }

    .col-2, .col-3, .col-4 {
        width: 100%;
    }
}

@media only screen and (max-width: 820px) {
    table {
        width: 100%;
    }

    nav {
        position: relative;
    }

    a {
        display: inline-block;
        width: auto;
    }

    .home-heading {
        left: 25%;
    }

    .table-main-heading {
        left: 30%;
    }
}

@media only screen and (max-width: 500px) {
    nav {
        text-align: justify;
    }
}