body {
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    opacity: 95%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}

header, footer {
    padding: 1%;
    margin: auto;
    display: block;
}

span {
    color: whitesmoke;
    display: block;
    text-align: center;
}

nav {
    padding: 1.5rem;
    width: auto;
    height: auto;
    border-radius: 2px;
    border-style: hidden;
    background-color: black;
    position: fixed;
    top: 20%;
    display: block;
    text-align: center;
}

table {
    padding: 1%;
    opacity: 60%;
    background-color: whitesmoke;
    border-color: black;
    border-style: solid;
    border-radius: 2px;
    border-width: thick;
    margin: auto;
    width: 50%;
}

th {
    text-align: center;
    border: thin solid black;
    border-radius: 2px;
    padding: 1rem;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
}

td {
    text-align: center;
    border: thin solid black;
    border-radius: 2px;
    padding: 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

a {
    padding: 12px;
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    border: thin transparent black;
    border-radius: 2px;
    font-style: oblique;
    font-weight: bold;
    font-size: 1rem;
    display: block;
    width: 200px;
    text-align: center;
}

a:hover {
    color: dodgerblue;
}

#search-form {
    width: 100%;
    height: auto;
    background-color: black;
    padding: 1%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-box {
    width: 25%;
    display: block;
    background-color: whitesmoke;
    padding: 1rem;
    border: 20px solid black;
    border-radius: 2px;
    font-style: normal;
    font-weight: lighter;
    font-size: 1rem;
}

#submit-button, #reset-button {
    width: 100px;
    display: inline-block;
    background-color: whitesmoke;
    padding: 1rem;
    border: hidden;
    border-radius: 15px;
    font-style: normal;
    font-weight: lighter;
    font-size: 1.2rem;
}

#submit-button:hover, #reset-button:hover {
    color: dodgerblue;
}


#nav-button {
    display: none;
}

.main-heading {
    color: whitesmoke;
    font-style: oblique;
    font-weight: bolder;
    font-size: 2.5rem;
    display: block;
    text-align: center;
}

.secondary-heading {
    color: whitesmoke;
    font-style: oblique;
    font-weight: bolder;
    font-size: 2rem;
    display: block;
    text-align: center;
}

.copy-heading {
    color: whitesmoke;
    font-style: italic;
    font-weight: lighter;
    font-size: 1rem;
    display: block;
    text-align: center;
}

.button-container {
    width: auto;
    height: auto;
    display: inline-block;
}

@media only screen and (max-width: 860px) {
    table {
        width: 100%;
    }

    td, th {
        padding: 1.5%;
    }

    nav {
        position: relative;
    }

    #nav-links {
        display: none;
    }

    #nav-links a {
        width: 100%;
    }

    #nav-button {
        display: block;
        position: absolute;
        right: 5%;
        top: 10%;
        padding: 15px;
        width: 40px;
        height: 20px;
        border: thin solid whitesmoke;
        border-radius: 2px;
    }

    #search-box {
        width: 50%;
    }

    .secondary-heading {
        font-size: 1.5rem;
    }

    .home-heading {
        left: 25%;
    }

    .table-main-heading {
        left: 30%;
    }
}

@media only screen and (max-width: 414px) {
    table {
        width: 98%;
        padding: 0%;
    }

    td, th {
        padding: .5%;   
    }
}